################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTests/obj
/ToDoList.Shared/obj
/.vs/ToDoList
/ToDoList.Api/bin/Debug/netcoreapp3.1
/ToDoList.Api/obj
/ToDoList.Api/ToDoList.Api.csproj.user
/ToDoList.Api/todoapp.db-wal
/ToDoList.Api/todoapp.db-shm
/ToDoList.App/bin/Debug/netcoreapp3.1
/ToDoList.App/obj
/UnitTests/bin/Debug/netcoreapp3.1
/ToDoList.Auth/obj
/ToDoList.Auth/bin/Debug/netcoreapp3.1
/ToDoList.Auth/tempkey.rsa
/ToDoList.App/ToDoList.App.csproj.user
